/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 20px;
  color: #333;
}

.header {
  float: right;
  margin: 0 50px;
}

.name .value {
  font-weight: bold;
  font-size: 1.2em;
}

.location .value {
  font-weight: bold;
}

h3 #filter {
  display: inline-block;
  margin-left: 100px;
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  &#widgets-list {
    padding: 10px;
    border: 1px solid silver;

    li.widget {
      margin-bottom: 20px;

      ul.features {
        li.feature {
          margin-left: 30px;
          list-style-type: decimal;
        }
      }
    }
  }
}